@model UserOrdersDtoWrapper

@{
    ViewData["Title"] = "OrdersForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="orders-wrapper barman-orders">

    <h1>All orders in the bar, barman: @Model.userName</h1>
    <table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Time of order</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model.userOrders)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.quantity</td>
                <td>@item.orderedOn</td>
                <td>
                    <form asp-area="Orders" asp-controller="Orders" asp-action="ChangeStatusOfOrder" method="post">
                        <input type="hidden" value="@item.OrderId" name="OrderId" />
                        <button type="submit" class="submit-order">Complete order</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

